.input-component {
    padding: 12px 16px;
    width: 100%;
    display: flex;
    gap: 8px;
  
  
    input {
      outline: none;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      width: 100%;
      color: #8b90a7;
  
      &:focus-visible {
        outline: none !important;
        border: none;
      }
    }
  }
  
